head
	link(rel="stylesheet", href="/stylesheets/bootstrap.css")
	link(rel="stylesheet", href="/stylesheets/app.css")

	script(type="text/javascript", src="/scripts/jquery-2.0.3.js")
	script(type="text/javascript", src="/scripts/bootstrap.js")


body(cz-shortcut-listen="true")
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/home") Tree
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href="#") Nosotros
					li
						a(href="/servicios") Servicios
					li
						a(href="/contacto") Contacto

	.container
		.row
			.col-lg-12
				h1.page-hader Nosotros
				ol.breadcrumb
					li
						a(href="/home") Home
					li.active	
						a Nosotros

		.row
			.col-md-6
				img.img-responsive(src="http://lorempixel.com/750/450/")
			.col-md-6
				h2 ¿Quienes somos?
				p Tree Arboricultura es una empresa dedicada exclusivamente al cuidado de árboles urbanos, tanto del ámbito público como privado incluyendo ejemplares singulares y de alto valor ornamental. 		

		.row
			.col-lg-12
				h2.page-hader Clientes
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")			
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")			
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")			
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")						
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")
			.col-md-2.col-sm-4.col-xs-6
				img.img-responsive.img-customer(src="http://lorempixel.com/500/300/")															

		hr.featurette-divider

		footer
			p.pull-right
				a(href="#") Subir
			p Tree Arboricultura &copy;
				a(href="/home") Home
				a(href="#") Nosotros
				a(href="/servicios") Servicios
				a(href="/contacto") Contacto
