head
	link(rel="stylesheet", href="/stylesheets/bootstrap.css")
	link(rel="stylesheet", href="/stylesheets/app.css")

	script(type="text/javascript", src="/scripts/jquery-2.0.3.js")
	script(type="text/javascript", src="/scripts/bootstrap.js")


body(cz-shortcut-listen="true")
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/home") Tree
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/nosotros") Nosotros
					li
						a(href="/servicios") Servicios
					li.active
						a(href="#") Contacto

	.container
		.row
			.col-lg-12
				h1.page-hader Nosotros
				ol.breadcrumb
					li
						a(href="/home") Home
					li.active	
						a Contact

		.row
			.col-lg-12
				h2.page-hader Contacto
			.col-sm-8
				h3 Dejanos tu consulta
				p Te contestaremos lo mas pronto posible.
		
				form
					.row
						.form-group.col-lg-4
							label Nombre
							input.form-control(type="text")
						.form-group.col-lg-4
							label Email
							input.form-control(type="text")
						.form-group.col-lg-4
							label Asunto
							input.form-control(type="text")
						.clearfix				
						.form-group.col-lg-12
							label Mensaje
							textarea.form-control(rows="6")
						.form-group.col-lg-12
							input.btn.btn-primary(type="submit") Enviar
			.col-sm-4
				h3 Tree Arboricultura
				p J. B. Alberdi 227 - Ciudad de Buenos Aires, Argentina.
				p +54 11 4901 9868
				p 
					a(href="mailto:info@tree-ar.com") info@tree-ar.com			

		hr.featurette-divider

		footer
			p.pull-right
				a(href="#") Subir
			p Tree Arboricultura &copy;
				a(href="/home") Home
				a(href="/nosotros") Nosotros
				a(href="/servicios") Servicios
				a(href="#") Contacto
