extends layout

block content
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(href='/') Inicio
        li.active(href='#') Nosotros

  .row
    .col-xs-12
      h1.page-hader Nosotros

  .row
    .col-xs-12.col-md-7
      img.img-responsive.img-rounded(src='img/works/pruning.jpg')
    .col-xs-12.col-md-5
      h3 ¿Quiénes Somos?
      p
        span.tree
        span.ar
        | es una empresa dedicada exclusivamente al cuidado de árboles urbanos, tanto del ámbito público como privado, incluyendo ejemplares singulares y de alto valor patrimonial.
      p A cargo de la dirección técnica se encuentra el Ingeniero Agrónomo y Arborista Certificado por la 
        a(href='http://www.isa-arbor.com/', target='_blank') International Society of Arboriculture
        |, 
        a(href='https://www.linkedin.com/pub/carlos-roberto-anaya/66/308/a88', target='_blank') Carlos R. Anaya
        |&nbsp;con mas de 20 años de trabajo en la arboricultura argentina, interactuando con colegas de España, México, EEUU y Colombia.
      p Ser arborista certificado implica por un lado suscribirse al Código de Ética de la organización lo cual asegura entre otros aspectos la obligación de cumplimiento por parte del profesional de las normas y estándares de las prácticas de la arboricultura moderna y por otro lado la necesidad de la permanente actualización para lograr la recertificación.       
  br
  br
  .row
    .col-xs-12
      h3 Confian en Nosotros
      br
        
  .row
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/us.png')
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/monsanto.gif')
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/ogc.jpg')
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/sigc.png')
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/ccc.png')
    .col-xs-6.col-md-2
      img.img-responsive.img-customer.img-circle(src='img/clients/mapuche.png')