extends layout

block content
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(href='/') Inicio
        li.active(href='#') Nosotros

  .row
    .col-xs-12
      h1.page-hader Nosotros

  .row
    .col-xs-12.col-md-7
      img.img-responsive.img-rounded(src='http://lorempixel.com/750/450/')
    .col-xs-12.col-md-5
      h3 ¿Quienes somos?
      p
        span.tree
        span.ar
        | es una empresa dedicada exclusivamente al cuidado de árboles urbanos, tanto del ámbito público como privado incluyendo ejemplares singulares y de alto valor ornamental.
      p A cargo de la dirección técnica se encuentra el Ingeniero Agrónomo y Arborista Certificado por la&nbsp;
         a International Society of Arboriculture
      |,&nbsp;&nbsp;
      a(href='https://www.linkedin.com/pub/carlos-roberto-anaya/66/308/a88', target='_blank') Carlos R. Anaya
      |&nbsp;con mas de 20 años de trabajo en la arboricultura argentina, interactuando con colegas de España, México, EEUU y Colombia.

  br
  br
  .row
    .col-xs-12
      h3 Clientes
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')
      .col-xs-6.col-md-2
        img.img-responsive.img-customer.img-rounded(src='http://lorempixel.com/500/300/')