extends layout

block content
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(href='/') Inicio
        li.active(href='#') Servicios

   .row
     .col-xs-12
       h1.page-hader Servicios

