extends layout

block content
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(href='/') Inicio
        li.active(href='#') Servicios

   .row
     .col-xs-12
       h1.page-hader Servicios

    .row.text-center
      .col-xs-12.col-md-4
        i.fa.fa-users.fa-6
        h3 Consultoria
        ul.text-left
          li Relevamientos, manejo y gestión del arbolado.
          li Diagnóstico y tratamiento de plagas y enfermedades (por microorganismos y fisiogénicas).
          li Valoración de riesgo en árboles, visual e instrumental.
          li Dirección técnica de poda de arbolado.
          li Cursos de formación en arboricultura.

      .col-xs-12.col-md-4
        i.fa.fa-cogs.fa-6
        h3 Servicios
        ul.text-left
          li Poda y tala de árboles, con equipamiento de seguridad y prácticas según normas&nbsp;
            a(href='http://www.fs.fed.us/treeclimbing/resources/ansi-z133/', target='_blank') ANSI AZ 133
          li Sustentación artificial y anclajes.
          li Trasplantes.
          li Plantaciones.
          li Tratamientos sanitarios y fisiológicos: pulverización, microinyección en tronco y por suelo.
          li Tratamientos para mejorar las condiciones de suelo: descompactación, corrección de pH, aireación, drenaje, fertilización.

      .col-xs-12.col-md-4
        i.fa.fa-check-circle-o.fa-6
        h3 Medios Técnicos:
        ul.text-left
          li Equipamiento de seguridad para trabajo en altura en árboles según normas&nbsp;
           a(href='http://www.ansi.org/', target='_blank') ANSI
           | &nbsp;(American National Standart Institute) AZ 133.
          li Resistógrafo F400 (instrumento para evaluar la resistencia de la madera).
          li Arborsystems (dispositivo para microinyección en tronco).
          li Air Spade (equipo pala de aire para excavar el cuello del árbol, tratamientos de aireación y descompactación del suelo, remoción de raíces espiraladas, mulching vertical, remediación de suelos).