html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='google-site-verification', content='8tlYPSiamSLZdjO7pIBg0BLDdiotV3dyyf6sFCGQs2s')
    meta(name='description', content='Tree Arboricultura, empresa argentina con aval internacional, dedicada al cuidado de árboles urbanos. Podas, talas, transplantes, plantaciones y tratamientos. Consultoria, formacion y capacitaciones. Más de 20 años dedicados al cuidado de los arboles.')
    title= title
    link(rel='shortcut icon', href='/img/tree-sq.png')
    block css
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.flatly.min.css')
      link(rel='stylesheet', href='/css/style.css')
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56936550-1', 'auto');
        ga('send', 'pageview');

  body
    h1 Sitio en Mantenimiento

































































